.conta {
  background-image: url(../../asests/Rick.png);
  background-repeat: no-repeat;
  height: 500px;
  background-size: 600px;
  background-position: initial;
  margin-top: 50px;
}
.bot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.txt {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  text-decoration: none;
  font-family: ubuntu;
  color: #88cefc;
  margin-left: 400px;
  text-shadow: -1px 1px #111, -2px 2px #111, -3px 3px #111, -4px 4px #111,
   -5px 5px #111,-6px 6px #111,-7px 7px #111, -8px 8px #111, -9px 9px #111;
}

@media (max-width: 768px) {
  .txt {
    font-size: 2.5rem;
    margin-left: 0;
    margin-top: -50px;
  }
}
